<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} [Duktig skeleton application]</title>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>