{% extends 'layout.html.twig' %}

{% block title %}
    An error occured
{% endblock %}

{% block body %}
    <h1>Something went wrong :()</h1>
    <p>Unfortunately, an error has occured while processing your request</p>
{% endblock %}